body {
  margin: 0;
}

nav img {
  height: 100%;
}

nav ul a {
  /*padding: 0px 50px;*/
  padding: 0px;
}

.navSpacing {
  padding: 0px 50px;
}

@media (max-width: 1150px){
  .navSpacing {
    padding: 0px 25px;
  }
}

i {
  color: white;
}

nav i {
  color: black;
}

#shoppingCart {
  margin: 0px 50px;
  background-color: none;
  float: right !important;
}

.mainContainer {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 0px;
  /*Font-size 0 removes the white space between the footer and the image*/
}

.crop {
  object-fit: cover;
  width: 100%;
  height: 600px !important;
  border: 1px solid #b9b9b9;
}

@media (max-width: 800px){
  .crop {
    height: auto !important;
  }
}

#extraPadding {
   padding-bottom: 40px;
}

.page-footer {
  background-color: #302f2f;
}

.page-footer .footer-copyright {
  background-color: rgba(6, 6, 6, 0.6);
}


footer ul li a:hover {
  text-decoration: underline;
}

.btn-facebook {
  background-color: #3B5998;
}

.btn-facebook:hover {
  background-color: #3B5998;
}

.btn-cart {
  background-color: #000;
  width: 70%;
}

.productTitle {
  text-transform: uppercase;
}

.productPrice {
  font-weight: bold;
}
