nav img {
  height: 100%;
}

nav ul a {
  /*padding: 0px 50px;*/
  padding: 0px;
}

.navSpacing {
  padding: 0px 50px;
}

@media (max-width: 1150px){
  .navSpacing {
    padding: 0px 25px;
  }
}

i {
  color: black;
}

#shoppingCart {
  margin: 0px 50px;
  background-color: none;
  float: right !important;
}

.mainContainer {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.crop {
  object-fit: cover;
  width: 100%;
  height: 600px !important;
}

@media (max-width: 800px){
  .crop {
    height: auto !important;
  }
}
