<div class="container">
  <div class="section main-section">
    <h3>About Us</h3>
  </div>

  <div class="row" id="center">
    <div class="col s5">
      <img class="responsive-img" src="./../../img/about_us.jpg" alt="">
    </div>
    <div class="col s7" id="about_us">
      <p>We're people who like to live life high.</p><p>Rebelt started in the Himalyan Mountains as we were sipping the hot tea from our Sherpa friends. At that very moment, I realized that my belt was so plain, it didn't reflect who I was on the inside. Rather, it looked like a black tourniquet around my waist. That's when I knew, my calling in life is to bring life to the world's belts.</p><p>Do more, hold up your shorts, live high.</p>
    </div>
  </div>

</div>

<div class="mainContainer" id="background-img">
  <!-- <img  class="responsive-img" id="teamPhoto" src="./../../img/ourTeam.jpg" alt=""> -->
</div>
