</br>
</br>

{{cookieUser}}

<!-- <img src="http://res.cloudinary.com/darrwzc2q/image/upload/v1490880624/about_us_sh9d3f.jpg" alt=""> -->
<div class="mainContainer">
  <!-- <cloudinary.image("about_us_sh9d3f.jpg", { alt: "Sample Image" })> -->
    <a ui-sref="allProducts"><img id="extraPadding" class="responsive-img" src="http://res.cloudinary.com/darrwzc2q/image/upload/v1490880407/belts_gt0awi.jpg" alt="">></a>
</div>
<div class="mainContainer">
  <a ui-sref="allProducts"><img class="responsive-img crop" src="http://res.cloudinary.com/darrwzc2q/image/upload/v1490880411/skateboard_prfjiu.jpg" alt=""></a>
</div>
<div class="mainContainer">
  <a ui-sref="allProducts"><img class="responsive-img crop" src="http://res.cloudinary.com/darrwzc2q/image/upload/v1490880412/longboard_nai5os.jpg" alt=""></a>
</div>
