<!-- ######## MODAL FOR ADD TO CART ############# -->
<div class="modal" id="myModal">
  <div class="modal-content">
    <h5>Successfully added <span class="productTitle">{{oneProd.name}}</span> to your cart</h4>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Continue shopping</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">View cart</a>
    </div>
  </div>
</div>
</br>

<!-- ############# PRODUCT DESCRIPTION ################ -->
<div class="container">
    <div class="row">
        <div class="col s7">
            <!-- <img class="responsive-img" src="http://res.cloudinary.com/darrwzc2q/image/upload/v1490880404/women_belt_s8cgvr.jpg" alt=""> -->
            <img class="responsive-img" ng-src="{{oneProd.image_url}}">
        </div>
        <div class="col s5">
            <h4 class="productTitle">{{oneProd.name}}</h5>
            <h6 class="productPrice">{{oneProd.price}}</h6>

            <div>
                <strong><h6>Product description</h6></strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="center">
            </br>
              <button data-target="myModal" id="cartBtn" class="btn btn-cart">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
